<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALOnkhUOjuFtM6b9XMvfcbnGefmwCsZJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>218831972818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vc.thenobody</string>
	<key>PROJECT_ID</key>
	<string>thenobody-29249</string>
	<key>STORAGE_BUCKET</key>
	<string>thenobody-29249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218831972818:ios:8d9a8cff94b977ad7e000b</string>
</dict>
</plist>